@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-condensed: 'Barlow Condensed', sans-serif;
	--font-display: 'Noto Serif Display', serif;
	--font-body: 'Barlow', sans-serif;
}
